model_config_list: {
  config: {
    name: "f4e44a731f7df858",
    base_path: "/models/f4e44a731f7df858",
    model_platform: "tensorflow"
  },
  config: {
    name: "6f697701fc10ce13",
    base_path: "/models/6f697701fc10ce13",
    model_platform: "tensorflow"
  },
  config: {
    name: "fc0dfb12fad78f07",
    base_path: "/models/fc0dfb12fad78f07",
    model_platform: "tensorflow"
  },
  config: {
    name: "750dac66af62e6b2",
    base_path: "/models/750dac66af62e6b2",
    model_platform: "tensorflow"
  },
  config: {
   name: "26a3a230499ebb48",
   base_path: "/models/26a3a230499ebb48",
   model_platform: "tensorflow"
  },
  config: {
    name: "2ac3470c50c2bd40",
    base_path: "/models/2ac3470c50c2bd40",
    model_platform: "tensorflow"
  },
  config: {
    name: "077c98276e7ae1a0",
    base_path: "/models/077c98276e7ae1a0",
    model_platform: "tensorflow"
  }
  config: {
    name: "ba5c6de27f689d2d",
    base_path: "/models/ba5c6de27f689d2d",
    model_platform: "tensorflow"
  }
  config: {
    name: "3c27c64bd11d5643",
    base_path: "/models/3c27c64bd11d5643",
    model_platform: "tensorflow"
  }
}
